body{
    margin:0;
    padding:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    min-height: 100vh;
    align-items: center;
    
}
h2
{
    font-size: 3cm;
    color: rgb(56, 56, 211);
    font-weight: bold;
}
h2 span{
    font-size: 1.5cm;
    font-weight: bold;
}
p{

    font-size: 1.3;
}
.btn{
    position: relative;
    background: rgb(32, 20, 201);
    display: inline-block
    
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: inline-flex;
    align-items: center;
}
header .logo{
    color: rgb(21, 136, 212);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    position: relative;
}
header ul li a{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: rgb(31, 219, 78);
}
.heading{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: rgb(217, 12, 224);
}
.content{
    display: flex;
    justify-content: space-between;
}
.background{
    background-image: url(/image/pexels-photo-3393354.jpeg);
    background-size: 100%;
}